<% provide(:title, 'Config') %>
<head>
  <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
  <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
  <style type="text/css">
    body {
      padding-top: 50px;
    }
    .starter-template {
      padding: 40px 15px;
      text-align: center;
    }

    .node rect {
      cursor: pointer;
      fill: #fff;
      fill-opacity: .5;
      stroke: #3182bd;
      stroke-width: 1.5px;
    }

    .node text {
      font: 10px sans-serif;
      pointer-events: none;
    }

    path.link {
      fill: none;
      stroke: #9ecae1;
      stroke-width: 1.5px;
    }

    .modal-backdrop.fade.in {
      opacity: 0.5;
      filter: alpha(opacity=50);
    }
  </style>
</head>
<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">MTD Dashboard</a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Home<b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="/">Home</a></li>
            <li><a href="/dashboard/network">Network</a></li>
          </ul>
        </li>
        <% if user_signed_in? %>
          <li class="dropdown active">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Manage<b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="/dashboard/index">Manage</a></li>
              <li><a href="#">Config</a></li>
              <li><a href="/dashboard/visualconfig">Visual Config</a></li>
            </ul>
          </li>
        <% end %>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? %>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= current_user.name %><b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><%= link_to("Edit Profile", edit_user_registration_path) %></li>
              <li><%= link_to("Hack the Planet", "/dashboard/index") %></li>
            </ul>
          </li>
          <form class="navbar-form navbar-right">
            <div><a class="btn btn-danger" <%= link_to('Logout', destroy_user_session_path, :method=>'delete')%></a></div>
          </form>
        <% else %>
          <form class="navbar-form navbar-right">
            <div><a class="btn btn-primary" href=<%= new_user_registration_path %>>Sign up</a></div>
          </form>
          <form class="navbar-form navbar-right">
            <div><a class="btn btn-success" href=<%= new_user_session_path %>>Login</a></div>
          </form>
        <% end %>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</div>

<div class="container">

  <% if user_signed_in? %>

    <h2>Configuration Visualization Demo</h2>
    <a data-toggle="modal" href="#myModalEdit" class="btn btn-info">About</a><br/><br/>
    <!-- Modal -->
    <div class="modal fade" id="myModalEdit" tabindex="-1" role="dialog" aria-labelledby="myModalLabelEdit" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">Configuration Visualization Demo</h4>
          </div>
          <div class="modal-body">
            This demo shows how you can visualize what your Moving Target Defense network configuration looks like. It is an interactive demo that allows you to expand or collapse different nodes. This will likely be a view on its own instead of on the main dashboard view page.
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->


    <div id="chart"></div>
    <script type="text/javascript" src="/js/treechart.js"></script>

  <% end %>

</div><!-- /.container -->
