<% provide(:title, 'Manage') %>
<head>
<link rel="stylesheet" href="/css/app.css">
  <style type="text/css">
    body {
      padding-top: 50px;
    }
    .starter-template {
      padding: 40px 15px;
      text-align: center;
    }

    .modal-backdrop.fade.in {
      opacity: 0.5;
      filter: alpha(opacity=50);
    }

  </style>
</head>

<div class="container">
  <h1>Instance Overview</h1>
  <div class="row">
    <div class="col-md-8">
      <h2>Visual Side</h2>
    </div>

    <div class="col-md-4">
      <h3>Instance Details</h3>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Data</th>
            <th>Value</th>
          </tr>
        </thead>
        <tbody>
          <% @data_hash['data'].each do |node, val| %>
            <tr>
              <td><%= node %></td>
              <td><%= val %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <h3>Imports</h3>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Data</th>
            <th>Value</th>
          </tr>
        </thead>
        <tbody>
          <tr>
          <% @data_hash['import']['imports'].each do |import_data| %>
            <% import_data.each do |d, v| %>
            <tr>
              <td><%= d %></td>
              <td><%= v %></td>
            </tr>
            <% end %>
          <% end %>
          </tr>
        </tbody>
      </table>
      <h3>Exports</h3>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Data</th>
            <th>Value</th>
          </tr>
        </thead>
        <tbody>
          <tr>
          <% @data_hash['export']['exports'].each do |export_data| %>
            <% export_data.each do |d, v| %>
            <tr>
              <td><%= d %></td>
              <td><%= v %></td>
            </tr>
            <% end %>
          <% end %>
          </tr>
        </tbody>
      </table>
      <h3>Data Log</h3>
    </div>
  </div>

</div>
