<% provide(:title, 'Instances') %>
<head>
<link rel="stylesheet" href="/css/app.css">
  <style type="text/css">
    body {
      padding-top: 50px;
    }
    .starter-template {
      padding: 40px 15px;
      text-align: center;
    }

    .modal-backdrop.fade.in {
      opacity: 0.5;
      filter: alpha(opacity=50);
    }

    // #directedNetworkContainer {
    //   width: 700px;
    //   height: 400px;
    //   border: 1px solid lightgray;
    // }

    path.link {
      fill: none;
      stroke: #666;
      stroke-width: 1.5px;
    }

    marker#licensing {
      fill: green;
    }

    path.link.licensing {
      stroke: green;
    }

    path.link.resolved {
      stroke-dasharray: 0,2 1;
    }

    circle {
      fill: #ccc;
      stroke: #333;
      stroke-width: 1.5px;
    }

    text {
      font: 10px sans-serif;
      pointer-events: none;
    }

    text.shadow {
      stroke: #fff;
      stroke-width: 3px;
      stroke-opacity: .8;
    }
  </style>
</head>

<div class="container">
  <h1>Instance Overview</h1>
  <div class="row">
    <div class="col-md-8">
      <h3>Visual Side</h3>
      <table class="table table-hover">
        <thead>
            <tr>
              <th>Name</th>
              <th>Interface</th>
              <th>Stage</th>
            </tr>
          </thead>
          <tbody>
            <% @instance_status.each do |instance| %>
              <tr onclick="generateInstance('<%= instance['id'] %>')">
                <td><%= instance['name'] %></td>
                <td><%= instance['interfaces'] %></td>
                <% if instance['stage'] == 'undefined' %>
                  <td><span class="label label-danger"><%= instance['stage'] %></span></td>
                <% elsif instance['stage'] == 'deploy' %>
                  <td><span class="label label-success"><%= instance['stage'] %></span></td>
                <% end %>
              </tr>
            <% end %>
          </tbody>
      </table>
      <div id="directedNetworkContainer">
      </div>
    </div>

    <div class="col-md-4">
      <h3>Instance Details</h3>
      <div id="instanceInfo"></div>
      <div id="importExportInfo"></div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title"><div id="panelHeading">Data Log</div></h3>
        </div>
        <div class="panel-body">
          Log empty
        </div>
      </div>
    </div>
  </div>
</div>

<script src="/js/dashboard/network/queryAncorInstances.js"></script>
<script src="http://mbostock.github.com/d3/d3.js?1.29.1"></script>
<script src="http://mbostock.github.com/d3/d3.geom.js?1.29.1"></script>
<script src="http://mbostock.github.com/d3/d3.layout.js?1.29.1"></script>
<script src="/js/dashboard/instances/networkGraph.js"></script>

<script type="text/javascript" charset="utf-8">
  drawNetwork();
</script>
