<% provide(:title, 'Manage') %>
<head>
  <style type="text/css">
    body {
      padding-top: 50px;
    }
   .starter-template {
      padding: 40px 15px;
      text-align: center;
    }

    #editor {
        // position: absolute;
        width: 500px;
        height: 400px;
    }

    .modal-backdrop.fade.in {
      opacity: 0.5;
      filter: alpha(opacity=50);
    }
  </style>
</head>

<div class="container">
  <div class="row">
    <div class="col-md-6">
      <center><h1>Editor Config Demo</h1>
      <a data-toggle="modal" href="#myModalEdit" class="btn btn-info">About</a><br/><br/></center>
      <!-- Modal -->
      <div class="modal fade" id="myModalEdit" tabindex="-1" role="dialog" aria-labelledby="myModalLabelEdit" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              <h4 class="modal-title">Editor Config Demo</h4>
            </div>
            <div class="modal-body">
              This editor shows how a user can edit our DSL to generate a configuration
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
      </div><!-- /.modal -->
      <div class="btn-group">
        <button type="button" class="btn btn-success btn-lg dropdown-toggle" data-toggle="dropdown">
          Load Preset <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
          <li><a href="#" onclick="insertNewKeyData('goals')">goal</a></li>
          <li><a href="#" onclick="insertNewKeyData('roles')">role</a></li>
        </ul>
        <a data-toggle="modal" href="#loadFileModal" class="btn btn-info btn-lg">Load File</a><br/><br/>
        <!-- Modal -->
        <div class="modal fade" id="loadFileModal" tabindex="-1" role="dialog" aria-labelledby="loadFileModalEdit" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Load a configuration file</h4>
              </div>
              <div class="modal-body">
                <div class="form-group">
                  <label for="exampleInputFile">File input</label>
                  <!-- <input type="file" id="exampleInputFile"></input> -->
                  <%= form_tag({action: :file_upload}, :method => 'post', :multipart => true) do %>
                    <%= file_field_tag "configfile" %>
                    <p class="help-block">Program accepts .yaml file types.</p>
                    <%= submit_tag 'Load', :class => "btn btn-default" %>
                  <% end %>
                </div>
                <!-- <button type="submit" class="btn btn-default">Load</button> -->
              </div>

              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
            </div><!-- /.modal-content -->
          </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
      </div><br/><br/>
      <div id="editor"></div>
    </div>
    <div class="col-md-6">
      <h1>Config</h1>
        <ul class="nav nav-tabs" id="navTab" data-tabs="tabs">
          <li class="active"><a href="#home" data-toggle="tab">Home</a></li>
          <li><a href="#nodes" data-toggle="tab">Nodes</a></li>
          <li><a href="#messages" data-toggle="tab">Messages</a></li>
          <li><a href="#settings" data-toggle="tab">Settings</a></li>
        </ul>

        <div id="navTabContent" class="tab-content">
          <div id="home" class="tab-pane fade active in">
            <h4>Config Inputs</h4><br/>
            <p>Create a goal</p>
            <input class="form-control" id="focusedInput" type="text" placeholder="Enter goal name stuff">
          </div>
          <div id="nodes" class="tab-pane">
            <h4>Select role to configure</h4>
            <select class="form-control">
              <% unless @nodes.nil? -%>
                <%= @nodes.each do | node | %>
                  <option><%= node %></option>
                <% end %>
              <% end %>
            </select>
          </div>
          <div id="messages" class="tab-pane">
            <p>Hello there Messages</p>
          </div>
          <div id="settings" class="tab-pane">
            <p>Hello there Settings</p>
          </div>
        </div>
    </div>
  </div><br/>

  <div class="row">
    <div class="col-md-6">
      <div class="btn-group">
        <button type="submit" class="btn btn-default" onclick="displayInfo()">Save</button>
        <button type="submit" class="btn btn-default" onclick="doUndo()">Undo</button>
        <button type="submit" class="btn btn-default" onclick="doRedo()">Redo</button>
        <button type="submit" class="btn btn-warning" disabled="disabled">Execute</button><br/><br/>
      </div>
    </div>
  </div>

  <script src="/js/ace.js"></script>
  <script src="/js/mode-yaml.js"></script>
  <script src="/js/ext-searchbox.js"></script>
  <script src="http://d3js.org/d3.v3.min.js"></script>
  <script src="/js/ace-editor-setup.js"></script>
  <script>
    $('#navTab a:first').click(function (e) {
      e.preventDefault()
      $(this).tab('show')
    })
  </script>
</div>
