<% provide(:title, 'Users') %>
<head>
  <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
  <style type="text/css">
    body {
      padding-top: 50px;
    }
    .starter-template {
      padding: 40px 15px;
      text-align: center;
    }
  </style>
</head>

<div class="container">
  <% if user_signed_in? %>
    <h1>Users</h1>
    <table class="table table-hover table-bordered">
      <thead>
        <tr>
          <th><div class="checkbox" onclick="selectBoxes()"><input type="checkbox" id="masterCheckbox"></div></th>
          <th>User</th>
          <th>Email</th>
          <th>Enabled</th>
          <th>Last Sign In</th>
          <th>Manage User</th>
        </tr>
      </thead>
      <tbody>
        <% @users.each do | user | %>
          <tr>
            <td><div class="checkbox"><input type="checkbox" name="box"></div></td>
            <td><%= user.name %></td>
            <td><a href="mailto:<%= user.email %>"><%= user.email %></a></td>
            <td>True</td>
            <td><%= user.last_sign_in_at %> @ <%= user.last_sign_in_ip %></td>
            <td><div class="btn-group"><button type="button" class="btn btn-info">edit</button><button type="button" class="btn btn-warning">disable</button></div></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
</div>

<script>
  function selectBoxes() {
    if (document.getElementById('masterCheckbox').checked) {
      var chBoxs = document.getElementsByName('box');

      for (var i = 0; i < chBoxs.length; i++) {
        chBoxs[i].checked = true;
      }
    }
    else {
      var chBoxs = document.getElementsByName('box');

      for (var i = 0; i < chBoxs.length; i++) {
        chBoxs[i].checked = false;
      }
    }
  }

</script>
